

.Login-component {
background-image: url(../components/Login.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: fixed;
height: 100vh; 
width: 100%;
top: 0;
left: 0;
}

.text-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-name-text {
    padding-top: 5;
    text-align: center;
    color: #BEF3FF;
    text-shadow: 2px 2px #0c2e53;
    font-weight: bold;
}
.system-name-text {
    text-align: center;
    padding-top: 0;
    color:#7DD8FF;
   font-size: 20px

}

@import url('https://fonts.googleapis.com/css?family=Kodchasan');
